

<div class="absolute width height">


	<div class="absolute width height center" id="arena">
			
		<div class="absolute width height center">

			<div class="absolute width-100 height-400 vcenter margin-h-50" id="controlsParent">
				<controls refresh="main.refresh" restart="main.restart" step="main.step" play="main.play" stop="main.stop"></controls>
			</div>

			<div class="absolute width height">
				
				<arena></arena>

				<trashman></trashman>

			</div>


			<div class="absolute width height center z-100 opacity0 none" id="arena-covertoggle">

				<div class="absolute width height center padding-100 rounded20 black-back opacity90"></div>
				
				<arena-feedback></arena-feedback>

			</div>

		</div>


	</div>


</div>