<div class="absolute width height cutoff">

	<div class="absolute width110 height scrollY cutoffX font-30" id="main-back">

		<div class="absolute height" style="width:{{1/1.1*100 + '%'}}">

			<evolvedata></evolvedata>

			<div class="absolute width height opacity0" id="hudtoggle">

				<div class="absolute width-100 height-50 top-20 left-20 black-back white rounded10 shadow font-20">
					<navbtn name="back" loc="trash"></navbtn>
				</div>

				<controls></controls>

			</div>

			<div class="absolute width80 hcenter opacity0" id="stagetoggle">

				<div class="absolute width80 height-100 top-minus-50 hcenter" id="stagetitle">
					<div class="relative center text-center font2-rem">
						Simulation
					</div>
					<div class="relative center text-center font170-rem">
						see the results of the best individual
					</div>
				</div>



				<div class="absolute width40 height60 vcenter" id="arena">

					<arena></arena>

					<trashman></trashman>

				</div>


				<div class="absolute width20 vcenter left45" id="programConfig">


					<div class="absolute width80 height80 center">

						<div class="absolute width height40" id="programInput_input">

							<div class="absolute hcenter" id="programInput_back">
								
								<div class="absolute width90 hcenter height-50" id="programInput_feedback">
									<div class="absolute center">
										{{feedback}}
									</div>
								</div>

							</div>

							<div class="relative width height50">

								<div class="absolute width height60 vcenter border-bottom">

									<div class="absolute width50 height" id="goalinputinner">
										<div class="absolute width vcenter font120-rem">
											grid size
										</div>
									</div>
									<select class="absolute width50 height right0 text-right font-30 black transparent-back nooutline" name="gridsizeselect" ng-options="item.size for item in grids track by item.size" id="gridSizeInput" ng-model="programInput.grid" ng-change="programInputChange()">
										<option value="{{item}}" ng-repeat="item in grids">{{item.size}}</option> 
									</select>

								</div>

							</div>

							<div class="relative width height50">

								<div class="absolute width height60 vcenter border-bottom">

									<div class="absolute width50 height" id="goalinputinner">
										<div class="absolute width vcenter font120-rem">
											trash % <br> (1-90)
										</div>
									</div>
									<input class="absolute width50 height right0 text-right font25-rem transparent-back black nooutline" id="trashRateInput" type="text" ng-model="programInput.trashPercent" ng-change="programInputChange()">

								</div>

							</div>

							<div class="absolute hcenter" id="programInput_cover"></div>

						</div>

						<div class="absolute width height50 bottom0" id="programLegend">

							<div class="absolute width80 height hcenter">

								<div class="absolute width height40" id="legend_robot">

									<div class="absolute width height60 center">
										<div class="relative width80 height-30 hcenter font170-rem">
											<div class="absolute center text-center">
												robot
											</div>
										</div>
										<div class="relative width-50 height-50 black-back opacity70 shadow hcenter bottom0"></div>

									</div>

								</div>


								<div class="absolute width height40 bottom0" id="legend_trash">


									<div class="absolute width height60 bottom0">
										<div class="relative width80 height-30 hcenter font170-rem">
											<div class="absolute center text-center">
												trash
											</div>
										</div>
										<div class="relative width-30 height-30 red-back border hcenter bottom0"></div>

									</div>
								</div>

							</div>

						</div>

					</div>

				</div>




				<div class="absolute width30 height right0" id="programSimulation_data-outer">
					<trashsimdata></trashsimdata>
				</div>



				
			</div>


			<loading></loading>


			<evolving></evolving>
			

		</div>

	</div>

	<settings></settings>

</div>