<div class="relative width">
	<div class="relative width hcenter padding-v-50" ng-repeat="block in data">

		<div class="relative width text-center font-30 padding-v-20">
			{{block.title}}
		</div>

		<div class="relative width hcenter font-20">

			<div class="relative width hcenter padding-v-20" ng-repeat="section in block.text">
				
				<div class="relative width hcenter padding-v-20" ng-repeat="paragraph in section">	
					<div class="relative line-height-60" ng-bind-html="html(paragraph)"></div>
				</div>

				<div class="relative width60 height-50 hcenter border-bottom"></div>

			</div>
		</div>
	</div>

</div>