<div class="absolute width height white opacity0" id="feedbackwalkthroughtoggle">
<!-- 
	<div class="absolute width height black-back opacity70 padding-v-100" id="feedbackwalkthrough-grayout"></div> -->

	<div class="absolute width height">

		<div class="relative width height-50"></div>


		<div class="absolute width height opacity0 none z-100" id="feedbackwalkthroughwelcometoggle">


			<div class="absolute width70 font-25 hcenter">

				<div class="absolute width hcenter rounded20 border-white transparent black-back opacity90 shadow">

					<feedback-welcome></feedback-welcome>

				</div>

				<div class="absolute width hcenter rounded20 margin-bottom-100 white transparent-back">

					<feedback-welcome></feedback-welcome>

					<div class="relative width-400 hcenter margin-v-50">

						<div class="relative width-300 white font-15 hcenter">

							<div class="relative width padding-h-30 right-30 border-white blue2-back rounded10">

								<div class="relative width80 padding-v-50 text-center hcenter">
									Start by clicking the "play" button underneath this dialog
								</div>

							</div>

						</div>


						<div class="relative width-300 height-100 white font-30 hcenter top-50 pointer">

							<div class="absolute width height border-white green-back rounded10 scaling">

								<div class="absolute center">
									OK
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>


			
		</div>

		<div class="absolute width height-100 top-300 margin-v-100 opacity0 none z-100" id="feedbackwalkthroughbuttontoggle">

			<div class="absolute width-50 height-50 font-70 right-50 pointer" ng-click="run()">
				<div class="absolute center black">
					<i class="fas fa-circle"></i>
				</div>
				<div class="absolute center font-40 white">W</div>
			</div>
		</div>


		<div class="absolute width60 hcenter top50 opacity0 none z-100" id="feedbackphase1-containertoggle">

			<div class="absolute width hcenter rounded20 font-20 border-white transparent black-back opacity50 shadow">

				<feedback-info></feedback-info>

			</div>

			<div class="absolute width hcenter rounded20 font-20 white transparent-back">

				<feedback-info></feedback-info>

				<div class="relative width-200 height-200 white font-40 margin-v-50 hcenter pointer" id="feedbackphase1-ok-button">

					<div class="absolute width height border-white green-back rounded10 scaling">

						<div class="absolute center">
							OK
						</div>

					</div>

				</div>

			</div>


			

		</div>



		

		<div class="absolute width-300 height-70 hcenter opacity0 none z-100" id="feedbackcomplete-buttontoggle">
			<div class="absolute width height green-back text-center font-20 rounded10 border-white white pointer">
				<div class="absolute center">
					complete walkthrough
				</div>
			</div>
		</div>

	</div>







</div>