<div class="absolute width height">

	<div class="absolute width80 height80 border center">

		<div class="absolute width80 height80 center">

			<div class="relative width-200 height-50 font-20 margin-v-20">
				<div class="absolute center">
					Choose Interface
				</div>
			</div>

			<div class="relative width-200 height-100 margin-v-20">

				<select class="absolute width height vcenter" ng-model="interfaceType">


					<option class="absolute vcenter" ng-value="interface1"> Interface 1 </option>

					<option class="absolute vcenter" ng-value="interface2"> Interface 2 </option> 

				</select>


			</div>
		</div>

	</div>

</div>