<div class="relative width min-height-100 hcenter font-20 opacity0" id="evolvedatatoggle">

	<div class="relative width200 height-400 hcenter margin-v-100" id="trashHasEvolved" ng-show="trashHasEvolved()">
		<div class="absolute width height black-back rounded20 opacity90"></div>
		<div class="absolute width60 center white">
			<ul>
				<li>You can now scroll down to play the simulation of your evolved plan</li>
				<li>Evolve more generations to increase performance</li>
				<li>Your evolution history is listed belo</li>
			</ul>
		</div>
	</div>

	<div class="relative width border-top-t">

		<div class="flex flex-row flex-justify-center">

			<div class="width50 border-right-t">
				<div class="relative width height-50">
					<div class="absolute center text-center">
						current<br>generation
					</div>
				</div> 



				<div class="flex-column flex-align-center">

					<div class="width height-70 font-30 text-center" ng-repeat="evolve in evdata track by evolve.index">
						<div class="relative vcenter">
							{{evolve.index}}
						</div>
					</div>
				</div>
			</div>

			<div class="width50">
				<div class="relative width height-50">
					<div class="absolute center">
						best fitness
					</div>
				</div> 

				<div class="flex-column flex-align-center">

					<div class="width height-70 font-30 text-center" ng-repeat="evolve in evdata track by evolve.index">
						<div class="relative vcenter">
							{{evolve.best.fitness}}
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>