<div class="absolute width height white opacity0" id="walkthroughtoggle">

	<div class="absolute width height black-back opacity70" id="walkthrough-grayout"></div>

	<div class="absolute width height">

		<div class="relative width height-50"></div>

		<div class="absolute width height-100 top-300 margin-v-100" id="walkthroughbuttontoggle">

			<div class="absolute width-50 height-50 font-70 right-50 pointer" ng-click="run()">
				<div class="absolute center black">
					<i class="fas fa-circle"></i>
				</div>
				<div class="absolute center font-40 white">W</div>
			</div>
		</div>

		<div class="absolute width height z-100" id="walkthroughwelcometoggle">

			<div class="absolute width60 height-800 font-30 hcenter pointer">
				<div class="absolute width height rounded20 border-white black-back"></div>
				<div class="absolute width80 white center">
					Welcome to the Walkthrough for the Trash Pickup Demonstration<br><br>

					This will guide you through how to use the Trash Pickup example to help understand what evolutionary algorithms are and how they work<br><br>

					Learn how to evolve new generations using the evolve button, run simulations, and refresh the trash grid<br><br><br><br>

					Developer's Note:<br>This page is a (obvious pun-intended) ever-evolving project<br>come back soon to learn how to adjust the settings (located to the right) to change the intelligence of your robot<br><br>

					click anywhere, anytime, to dismiss
				</div>
			</div>
		</div>


		<div class="absolute width-300 height-500 top-500 margin-v-400 right-50 opacity0" id="phase1-containertoggle">

			<div class="absolute width-100 height-100 padding-20 white font-50 center pointer" id="phase1-ok-button">

				<div class="absolute width height border-white green-back rounded10 scaling">

					<div class="absolute center">
						OK
					</div>

				</div>

			</div>


		</div>


		<div class="absolute width50 height-800 right10 opacity0 z-100" id="phase3-containertoggle">

			<div class="absolute width height rounded20 border-white black-back opacity90"></div>
			<div class="absolute width80 white font-30 center">
				Refresh the trash configuration and rerun the simulation a few times to get a good sense of how well your plan fares<br><br>

				Then evolve more generations until you reach the maximum number of points for the grid size to see the most intelligent result
			</div>

		</div>
		

		<div class="absolute width60 height-200 hcenter opacity0 z-100" id="complete-buttontoggle">
			<div class="absolute width height green-back rounded20 border-white white font-30 pointer">
				<div class="absolute center">
					Complete Walkthrough
				</div>
			</div>
		</div>

	</div>







</div>