<div class="absolute width height white opacity0" id="trashwalkthroughtoggle">
<!-- 
	<div class="absolute width height black-back opacity70 padding-v-100" id="trashwalkthrough-grayout"></div> -->

	<div class="absolute width height">

		
		<div class="relative width height-50"></div>

		<div class="absolute width height z-100" id="trashwalkthroughwelcometoggle">

			<div class="absolute width70 font-25 hcenter">
				

				<div class="absolute width hcenter rounded20 border-white transparent black-back opacity90 shadow">

					<trash-welcome></trash-welcome>

				</div>

				<div class="absolute width hcenter rounded20 white transparent-back">

					<trash-welcome></trash-welcome>


					<div class="relative width-400 margin-v-50 padding-v-100 hcenter">

						<div class="relative width white">

							<div class="relative width padding-h-30 right-30 border-white blue2-back rounded10">

								<div class="relative width80 padding-v-50 text-center font-30 hcenter">
									Start by clicking the "evolve" button underneath this dialog<br><br>tap to dismiss
								</div>

							</div>

						</div>


					</div>

				</div>


				

			</div>
		</div>


		<div class="absolute width height-100 top-300 margin-v-100" id="trashwalkthroughbuttontoggle">

			<div class="absolute width-50 height-50 font-70 right-50 pointer" ng-click="run()">
				<div class="absolute center black">
					<i class="fas fa-circle"></i>
				</div>
				<div class="absolute center font-40 white">W</div>
			</div>
		</div>


		<div class="absolute width-300 height-500 top-500 margin-v-400 right-50 opacity0 z-100" id="trashphase1-containertoggle">

			<div class="absolute width-100 height-100 padding-20 white font-50 center pointer" id="trashphase1-ok-button">

				<div class="absolute width height border-white green-back rounded10 scaling">

					<div class="absolute center">
						OK
					</div>

				</div>

			</div>


		</div>


		<div class="absolute width50 height-800 right10 opacity0 z-100" id="trashphase3-containertoggle">

			<div class="absolute width rounded20 font-20 border-white transparent black-back opacity90">
				
				<trash-info></trash-info>

			</div>
			<div class="absolute width rounded20 white font-20 white transparent-back">

				<trash-info></trash-info>
			</div>

		</div>
		

		<div class="absolute width60 height-200 hcenter opacity0 z-100" id="trashcomplete-buttontoggle">
			<div class="absolute width height green-back rounded20 border-white white font-30 pointer">
				<div class="absolute center">
					Complete Walkthrough
				</div>
			</div>
		</div>

		<div class="absolute width height-100 margin-v-100 z-100 opacity0 none" id="trashcomplete-aux-buttontoggle">

			<div class="absolute width-50 height-50 font-70 left-50 pointer">
				<div class="absolute center green">
					<i class="fas fa-circle"></i>
				</div>
				<div class="absolute center font-40 white">C</div>
			</div>
		</div>

	</div>







</div>