



<div class="relative width80 hcenter opacity0" id="stagetoggle">

	<div class="flex flex-column flex-align-center">

		<div class="width height-100 margin-bottom-50" id="stagetitle">
			<div class="relative width height80">
				<div class="relative width height50 text-center font-30">
					<div class="absolute center">
						Simulation
					</div>
				</div>
				<div class="relative width height50 text-center">
					<div class="absolute center">
						test out the results of the genetic algorithm
					</div>
				</div>
			</div>
		</div>


		<div class="width60 height-400 font-15 margin-v-50" id="programConfig">

			<div class="flex flex-column flex-align-center">

				<div class="width80 height-50 font-30">
					<div class="relative hcenter text-center">
						Simulation Adjustments &amp; Legend
					</div>
				</div>

				<div class="width80 height-400">

					<div class="flex flex-row flex-justify-center">

						<div class="width50 height" id="programInput_input">

							<div class="flex flex-column flex-align-center">

								<div class="width height-100 border-bottom border-top">

									<div class="flex flex-row flex-align-center">

										<div class="width50 height-100 border-right" id="goalinputinner">

											<div class="relative vcenter font-20 text-center">
												grid size
											</div>
										</div>
										<div class="width50 height-100">

											<div class="relative width60 height60 center">
												<select class="relative width height transparent-back pointer nooutline font-30" name="gridsizeselect" ng-options="item.size for item in grids track by item.size" id="gridSizeInput" ng-model="main.programInput.grid" ng-change="main.programInputChange()">
													<option value="{{item}}" ng-repeat="item in grids">{{item.size}}</option> 
												</select>
											</div>

										</div>
									</div>

								</div>

								<div class="width height-100 margin-v-50 border-bottom border-top">

									<div class="flex flex-row flex-align-center">

										<div class="width50 height-100 border-right" id="goalinputinner">

											<div class="relative vcenter font-20 text-center">
												trash % <br> (1-90)
											</div>
										</div>
										<div class="width50 height-100">

											<div class="relative width60 height60 center">
												<text-input mw-class="relative width height transparent-back pointer nooutline font-30" mw-id="trashRateInput" mw-model="main.programInput.trashPercent" mw-keyup="main.programInputChange" validation="integer"></text-input>
											</div>

										</div>
									</div>

								</div>

							</div>

						</div>
						<div class="width50" id="programLegend">

							<div class="flex flex-column flex-align-center">

								<div class="width margin-bottom-50" id="legend_robot">

									<div class="flex flex-column flex-align-center">
										<div class="width80 height-30 margin-bottom-20">
											<div class="relative center text-center font-20">
												robot
											</div>
										</div>
										<div class="relative width-70 height-70 black-back opacity70 rounded5 font-30 white shadow">
											<div class="relative text-center vcenter">
												<i class="fas fa-user"></i>
											</div>

										</div>

									</div>

								</div>


								<div class="width" id="legend_trash">


									<div class="flex flex-column flex-align-center">
										<div class="width80 height-30 margin-v-20">
											<div class="relative center text-center font-20">
												trash
											</div>
										</div>
										<div class="relative width-40 height-40 font-20 red-back rounded5 white border">
											<div class="relative vcenter text-center">
												<i class="fas fa-trash-alt"></i>
											</div>

										</div>

									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="width60 height-400 margin-bottom-400" id="simParent">

			<div class="absolute width70 height80" id="arena">

				
				<arena></arena>

				<trashman></trashman>
				

				<div class="absolute" id="controlsParent">
					<controls refresh="main.refresh" restart="main.restart" step="main.step" play="main.play" stop="main.stop"></controls>
				</div>

			</div>

		</div>


		<div class="width-200 height-300" id="programSimulation_data-outer">
			<trashsimdata></trashsimdata>
		</div>

	</div>


</div>