

<div class="absolute width height">


	<div class="relative width90 hcenter opacity0" id="stagetoggle">


		<div class="relative width height-100 hcenter" id="stagetitle">
			<div class="absolute width height80">
				<div class="relative width height50 text-center font-40">
					<div class="absolute center">
						Simulation
					</div>
				</div>
				<div class="relative width height50 text-center font-20">
					<div class="absolute center">
						see the results of the best individual
					</div>
				</div>
			</div>
		</div>



		<div class="relative width60 hcenter margin-bottom-200 font-20" id="programConfig">


			<div class="absolute width">

				<div class="absolute width50" id="programInput_input">


					<div class="relative width height-100 margin-v-50 border-bottom border-top">


						<div class="absolute width50 height border-right" id="goalinputinner">

							<div class="absolute width60 height60 center">
								<div class="absolute width vcenter">
									grid size
								</div>
							</div>
						</div>
						<div class="absolute width50 height right0">

							<div class="absolute width60 height60 center">
								<select class="absolute width height transparent-back pointer nooutline font-40" name="gridsizeselect" ng-options="item.size for item in grids track by item.size" id="gridSizeInput" ng-model="main.programInput.grid" ng-change="main.programInputChange()">
									<option value="{{item}}" ng-repeat="item in grids">{{item.size}}</option> 
								</select>
							</div>

						</div>

					</div>

					<div class="relative width height-100 margin-v-50 border-bottom border-top">


						<div class="absolute width50 height border-right" id="goalinputinner">

							<div class="absolute width60 height60 center">
								<div class="absolute width vcenter">
									trash % <br> (1-90)
								</div>
							</div>
						</div>
						<div class="absolute width50 height right0">

							<div class="absolute width60 height60 center">
								<text-input mw-class="absolute width height transparent-back pointer nooutline font-40" mw-id="trashRateInput" mw-model="main.programInput.trashPercent" mw-keyup="main.programInputChange" validation="integer"></text-input>
							</div>

						</div>

					</div>

				</div>
				<div class="absolute width50 right0 font-30" id="programLegend">

					<div class="absolute width">

						<div class="relative width margin-bottom-50" id="legend_robot">

							<div class="relative width">
								<div class="relative width80 height-30 margin-v-20 hcenter">
									<div class="absolute center text-center">
										robot
									</div>
								</div>
								<div class="relative width-70 height-70 black-back white shadow hcenter">
									<div class="absolute center">
										<i class="fas fa-user"></i>
									</div>

								</div>

							</div>

						</div>


						<div class="relative width" id="legend_trash">


							<div class="relative width">
								<div class="relative width80 height-30 margin-v-20 hcenter">
									<div class="absolute center text-center">
										trash
									</div>
								</div>
								<div class="relative width-40 height-40 font-20 red-back white border hcenter">
									<div class="absolute center">
										<i class="fas fa-trash-alt"></i>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>

			</div>

		</div>


		<div class="absolute width60 height-500 hcenter" id="programSimulation_data-outer">
			<trashsimdata></trashsimdata>
		</div>


		<div class="relative width70 height hcenter" id="stageInner">
			

			<div class="absolute width height hcenter" id="arena">

				
				<arena></arena>

				<trashman></trashman>

			</div>


			<div class="absolute vcenter" id="controlsParent">
				<controls refresh="main.refresh" reset="main.reset" step="main.step" play="main.play" stop="main.stop"></controls>
			</div>

		</div>


	</div>




</div>