


<div class="absolute width height opacity0 none cutoff z-100" id="evolvetoggle">

	<div class="absolute width height black-back opacity99"></div>
	
	<div class="relative width80 height-600 margin-v-200 hcenter white">
		

		<div ng-if="showFeedback()" class="relative width">
			<evolve-feedback></evolve-feedback>
		</div>

		<div class="relative width80 hcenter">


			<div class="relative width-200 font-30">
				
				<div class="relative width gray-back padding-50 margin-v-50 rounded20 border-white">
					<div class="relative width vcenter">
						<div class="absolute width50">
							<div class="absolute center">
								fitness
							</div>
						</div>
						<div class="absolute width50 right0">
							<div class="absolute center">
								{{fitnessRounded}}
							</div>
						</div>
					</div>
				</div>
			


				<div class="relative width-150 height-100 margin-h-50 hcenter">


					<div class="absolute width height">
						<div class="absolute width height white-back rounded5 font-30 black pointer" id="breakevolve" on-tap="break()">
							<div class="absolute center">
								<!-- <i class="fas fa-times"></i> -->
								end
							</div>
						</div>

						<div class="absolute width-300 height-30 left-300 margin-h-30 vcenter opacity0" id="breakfeedbacktoggle">
							<div class="absolute vcenter font-15 white">
								finishing up....
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>

	</div>

</div>


