<div class="absolute width height cutoff">
	


	<div class="absolute width height black-back opacity70 padding-v-100" id="feedbackwalkthrough-grayout"></div>

	<loading></loading>


	<evolving feedback="hidden" break="main.breakRun"></evolving>

	<div class="absolute width height scrollY scroll-vertical-dark-narrow cutoffX font-30" id="main-back">

		<walkthrough></walkthrough>

		<div class="flex flex-column flex-align-center opacity0" id="main-inner">


			<div class="width margin-top-20 opacity0 none z-50" id="hudtoggle">

				<nav-bar></nav-bar>

			</div>

			<div class="width height-100" id="stagetitle">
				<div class="relative vcenter text-center font2-rem">
					Real-time Evolution
				</div>
			</div>

			<div class="width60 height-400 margin-bottom-100">
				<evolve-feedback></evolve-feedback>
			</div>

			<div class="width80 height-600 margin-bottom-100" id="arena">

				<div class="flex flex-row flex-align-center flex-justify-between width">

					<div class="width-200 height-600 margin-h-50">
						<controls refresh="main.refresh" play="main.run" stop="main.stop"></controls>
					</div>


					<div class="width60 height-200 border">
						<plot></plot>
					</div>

				</div>

			
			</div>

			<div class="width-400 margin-bottom-200">
				<evolvedata></evolvedata>
			</div>

		</div>

	</div>
	
	<settings open="main.open" change-kind="main.changeKind" change-input="main.changeInput" methods="crossoverMethods" data="crossoverData" reset-gen="main.resetgen"></settings>

</div>