<div class="absolute width height white opacity0" id="walkthroughtoggle">

	<div class="absolute width height black-back opacity70" id="walkthrough-grayout"></div>

	<div class="absolute width height">

		<div class="relative width height-50"></div>


		<div class="absolute width height z-100" id="walkthroughwelcometoggle">

			<div class="absolute width40 height-700 font-15 hcenter">
				<div class="absolute width height rounded20 border-white black-back"></div>
				
				<div class="absolute width80 white center">
					Welcome to the Trash Pickup Demonstration Walkthrough<br><br><br><br>



					These examples are intended to show what evolutionary algorithms are and how they work<br><br>

					This walkthrough will guide you through thow to use this example<br><br>

					Learn how to evolve new generations, run simulations, and refresh the trash grid<br><br><br><br>



					You will see with the walkthrough 
					<ul>
						<li>
							"OK" buttons
						</li>
						<li>
							information popups
						</li>
						<li>
							buttons with animation
						</li>
						<li>
							automatic screen scrolling
						</li>
						<li>
							a complete button
						</li>
					</ul>

					<br>

					Each step will progress to the next automatically as intended. Reading the little bit of information provided will allow for the best experience for later. The demo without the walkthrough functions exactly the same, but is bare<br><br>

					You may start it again at any time by clicking the "W" button located in the upper-right area of the page<br><br>

					<br><br>

					Future work:<br>This page is (obvious pun-intended) an ever-evolving project<br>come back soon for the settings (located to the right) walkthrough that will help you change the intelligence of your robot
				</div>


				<div class="absolute width-100 height-100 white font-30 right-minus-200 bottom-50 pointer">

					<div class="absolute width height border-white green-back rounded10 scaling">

						<div class="absolute center">
							OK
						</div>

					</div>

				</div>

			</div>
		</div>

		<div class="absolute width height-100 margin-v-100" id="walkthroughbuttontoggle">

			<div class="absolute width-50 height-50 font-40 right-50 pointer" ng-click="run()">
				<div class="absolute center black">
					<i class="fas fa-circle"></i>
				</div>
				<div class="absolute center font-20 white">W</div>
			</div>
		</div>


		<div class="absolute width20 height-400 top-400 margin-v-200 right0 opacity0" id="phase1-containertoggle">

			<div class="absolute width-100 height-100 white font-30 center pointer" id="phase1-ok-button">

				<div class="absolute width height border-white green-back rounded10 scaling">

					<div class="absolute center">
						OK
					</div>

				</div>

			</div>


		</div>


		<div class="absolute width30 height-600 right20 opacity0 z-100" id="phase3-containertoggle">

			<div class="absolute width height rounded20 border-white black-back opacity90"></div>
			<div class="absolute width80 white font-20 center">
				Refresh the trash with a new configuration and rerun the simulation a few times to get a good sense of how well your plan fares<br><br>

				Then evolve more generations until you reach the maximum number of points for the grid size to see the most intelligent result
			</div>

		</div>
		

		<div class="absolute width-300 height-70 hcenter opacity0 z-100" id="complete-buttontoggle">
			<div class="absolute width height green-back rounded10 border-white white pointer">
				<div class="absolute center">
					complete walkthrough
				</div>
			</div>
		</div>

	</div>







</div>