<div class="absolute width-300 height top-20 right-20" id="simdata">
			
	<div class="absolute width height vcenter" id="simdatainner">

		<div class="relative width height20">	
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> total moves </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.move.total}} </div>
				</div>
			</div>
		</div>

		<div class="relative width height20">
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> current </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.move.num}} </div>
				</div>
			</div>
		</div>

		<div class="relative width height20">
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> state </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.move.state}} </div>
				</div>
			</div>
		</div>

		<div class="relative width height20">
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> action </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.move.name}} </div>
				</div>
			</div>
		</div>

		<div class="relative width height20">
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> outcome </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.score.result}} </div>
				</div>
			</div>
		</div>

		<div class="relative width height20">
			<div class="absolute width height50 vcenter border-bottom">
				<div class="absolute width40 height">
					<div class="absolute center"> fitness </div>
				</div>
				<div class="absolute width60 height border-left right0">
					<div class="absolute center"> {{main.sdata.score.total}} </div>
				</div>
			</div>
		</div>

		<!-- <div class="relative width height20 border-bottom">
			
		</div>

		<div class="relative width50 height20" ng-repeat="action in main.pdata.actions.list">
			<div class="absolute width height50 vcenter">
				<div class="absolute width70 height">
					<div class="absolute vcenter">
						{{action.name}}
					</div>
				</div>
				<div class="absolute width30 height right0">
					<div class="absolute width-20 height-20 center opacity70" style="{{'background-color:' + action.color}}"></div>
				</div>
			</div>
		</div>

		<div class="relative width50 height20">
			<div class="absolute width height50 vcenter">
				<div class="absolute width70 height">
					<div class="absolute vcenter">
						<div class="absolute vcenter">
							success
						</div>
					</div>
				</div>
				<div class="absolute width30 height right0">
					<div class="absolute width-20 height-20 center opacity70" style="background-color:#00ff00"></div>
				</div>
			</div>
		</div>

		<div class="relative width50 height20">
			<div class="absolute width height50 vcenter">
				<div class="absolute width70 height">
					<div class="absolute vcenter">
						fail
					</div>
				</div>
				<div class="absolute width30 height right0">
					<div class="absolute width-20 height-20 center opacity70" style="background-color:#ff0000"></div>
				</div>
			</div>
		</div>

		<div class="relative width height20 border-top">
			
		</div> -->

	</div>
</div>