<div class="absolute width height font-15">

	<div class="absolute width80 height60 left-100 top-20" id="stage">

		<arena></arena>

		<trashman></trashman>

	</div>

	<div class="absolute width height opacity0" id="hudtoggle">

		<div class="absolute width-50 height-30 top-20 left-20 black-back white rounded5 shadow font-15">
			<navbtn name="back" loc="trash"/>
		</div>

		<trashsimdata></trashsimdata>

		<controls></controls>

	</div>
	
	<loading></loading>

	<div class="absolute width height" id="main-back">
		<evolving></evolving>
	</div>

	<settings></settings>

</div>