<div class="absolute width height">

	<div class="absolute width height black-back opacity70" id="trashwalkthrough-grayout"></div>

	<loading></loading>

	<evolving break="main.breakRun"></evolving>

	<div class="absolute width height scrollY scroll-vertical-dark-narrow cutoff font-15" id="main-back">
		
		<walkthrough></walkthrough>

		<div class="flex flex-column flex-align-center" id="main-inner">



			<div class="width margin-top-20 opacity0 none z-100" id="hudtoggle">

				<nav-bar></nav-bar>

			</div>

			<div class="width60">
				<evolve-button run="main.run"></evolve-button>
			</div>


			<div class="width40 height-50 padding-v-50 text-center font-30 opacity0" id="titletoggle">
				Teach a Robot to pick up Trash using an Evolutionary Algorithm
			</div>

			<div class="width-400 margin-v-50">
				<evolvedata></evolvedata>
			</div>


			<div class="width margin-v-50">
				<simulation></simulation>
			</div>

		</div>

	</div>
	

	<settings open="main.open" change-kind="main.changeKind" change-input="main.changeInput" methods="crossoverMethods" data="crossoverData" reset-gen="main.resetgen"></settings>

</div>