<div class="absolute width height">

	<loading></loading>

	<div class="absolute width height scrollY scroll-vertical-dark-narrow cutoff font-15" id="main-back">
		
		<div class="flex flex-column flex-align-center">

			<div class="width height-70 margin-bottom-200 opacity0" id="hudtoggle">


				<div class="margin-20" id="navtoggle">
					<navbtn name="back" loc="trash" var-class="width-200 height-50 black-back white"></navbtn>
				</div>
				
			</div>


			<div class="width60 height-50 padding-v-50 font-30 opacity0" id="titletoggle">
				Teach a Robot to pick up Trash using an Evolutionary Algorithm
			</div>

			<div class="width-400 margin-v-50">
				<evolvedata></evolvedata>
			</div>


			<div class="width margin-v-50">
				<simulation></simulation>
			</div>

		</div>

	</div>

	<evolving run="main.run" break="main.breakRun"></evolving>

	<settings open="main.open" change-kind="main.changeKind" change-input="main.changeInput" methods="crossoverMethods" data="crossoverData" reset-gen="main.resetgen"></settings>

</div>