<div class="absolute width height">

	<div class="relative width height-600 border-white cutoff" parallax scroll="body" inner="inner" factor="1" top="true">

		<div class="relative width height" id="inner">

			<div class="relative width80 height60 center">

				<div class="relative width height50">
					<div class="absolute width text-right top0 font-70">
						methods with<br>
						class
					</div>
				</div>

				<div class="relative width height50">
					<div class="absolute width text-right bottom0 font-40">
						evolutionary algorithms
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="relative width black-back raised">

		<div class="relative width padding-v-100">

			<div class="relative width90 hcenter white-back rounded5 lowered">

				<div class="relative width hcenter padding-v-100">

					<div class="relative width80 height-300 hcenter padding-v-50">

						<div class="absolute width40 height">
							<div class="relative width height80 black-back white rounded5 shadow font-40 pointer" on-tap="main.open('feedback')">
								<div class="absolute center">
									feedback
								</div>
							</div>
						</div>

						<div class="absolute width40 height right0">
							<div class="relative width height80 black-back white rounded5 shadow font-40 pointer" on-tap="main.open('trash')">
								<div class="absolute center">
									trash pickup
								</div>
							</div>
						</div>
					</div>


					<div class="relative width80 height-300 hcenter padding-v-50">

						<div class="absolute width40 height right0">
							<div class="relative width height80 black-back white rounded5 shadow font-40 pointer" on-tap="main.open('recognize')">
								<div class="absolute center">
									recognize
								</div>
							</div>
						</div>

					</div>

					<div class="relative width60 hcenter padding-v-50">
						<content data="main.overview.content"/>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>