<div class="absolute width height cutoff">
	

	<loading></loading>

	<div class="absolute width height scrollY scroll-vertical-dark-narrow cutoffX font-30" id="main-back">

		<div class="flex flex-column flex-align-center">

			<div class="width height-70 margin-bottom-100 opacity0" id="hudtoggle">

				<div class="margin-20" id="navtoggle">
					<navbtn name="back" loc="home" var-class="width-200 height-50 black-back white"></navbtn>
				</div>

			</div>

			<div class="width height-200 margin-bottom-300 opacity0" id="stagetoggle">


					<div class="relative width height-100" id="stagetitle">
						<div class="relative vcenter text-center font2-rem">
							Real-time Evolution
						</div>
					</div>

					<div class="relative width-400 height-200 hcenter" id="arena">

						<div class="absolute width-100 height-400 vcenter left-minus-100"  id="controlsParent">
							<controls refresh="main.refresh" play="main.run" stop="main.stop"></controls>
						</div>


						<div class="absolute width height vcenter border">
							<plot></plot>
						</div>

					
					</div>

			</div>


			<div class="width-400 margin-bottom-200">
				<evolvedata></evolvedata>
			</div>
			
		</div>

	</div>

	<evolving run="main.run" break="main.breakRun"></evolving>
	
	<settings open="main.open" change-kind="main.changeKind" change-input="main.changeInput" methods="crossoverMethods" data="crossoverData" reset-gen="main.resetgen"></settings>

</div>