<div class="absolute width height cutoff">

	<div class="absolute width110 height scrollY scroll-Y-dark-narrow cutoffX font-15" id="main-back">

		<div class="absolute height" style="width:{{1/1.1*100 + '%'}}">
		<!-- <div class="absolute height width"> -->

			<loading></loading>

			<evolvedata></evolvedata>

			<div class="absolute width90 hcenter opacity0" id="stagetoggle">

				<div class="absolute width height-100 hcenter" id="stagetitle">
					<div class="absolute width height80">
						<div class="relative width height50 text-center font-30">
							<div class="absolute center">
								Simulation
							</div>
						</div>
						<div class="relative width height50 text-center">
							<div class="absolute center">
								see the results of the best individual
							</div>
						</div>
					</div>
				</div>


				<div class="absolute width30 height right0" id="programSimulation_data-outer">
					<trashsimdata></trashsimdata>
				</div>


				<div class="absolute width height">

					<controls refresh="main.refresh" reset="main.reset" step="main.step" play="main.play" stop="main.stop"></controls>


					<div class="absolute width70 height60 left-40 vcenter" id="arena">

						
						<arena></arena>

						<trashman></trashman>

					</div>

				</div>


				<div class="absolute width30 vcenter left40" id="programConfig">


					<div class="absolute width80 height80 center">

						<div class="absolute width height40" id="programInput_input">


							<div class="absolute width60 hcenter height50">

								<div class="absolute width height60 vcenter border-bottom">

									<div class="absolute width70 height" id="goalinputinner">
										<div class="absolute width vcenter">
											grid size
										</div>
									</div>
									<select class="absolute width30 height right0 text-right black transparent-back nooutline" name="gridsizeselect" ng-options="item.size for item in grids track by item.size" id="gridSizeInput" ng-model="main.programInput.grid" ng-change="main.programInputChange()">
										<option value="{{item}}" ng-repeat="item in grids">{{item.size}}</option> 
									</select>

								</div>

							</div>

							<div class="absolute width60 hcenter height50 bottom0">

								<div class="absolute width height70 vcenter border-bottom">

									<div class="absolute width50 height" id="goalinputinner">
										<div class="absolute width vcenter">
											trash % <br> (1-90)
										</div>
									</div>
									<text-input mw-class="absolute width30 height right0 text-right transparent-back black nooutline" mw-id="trashRateInput" mw-model="main.programInput.trashPercent" mw-keyup="main.programInputChange" validation="integer"></text-input>

								</div>

							</div>

						</div>
						<div class="absolute width height50 bottom0" id="programLegend">

							<div class="absolute width80 height hcenter">

								<div class="absolute width50 height50 vcenter" id="legend_robot">

									<div class="absolute width height80 center">
										<div class="relative width80 height-30 hcenter font-15">
											<div class="absolute center text-center">
												robot
											</div>
										</div>
										<div class="relative width-50 height-50 black-back font-10 white shadow hcenter bottom0">
											<div class="absolute center">
												<i class="fas fa-user"></i>
											</div>

										</div>

									</div>

								</div>


								<div class="absolute width50 height50 vcenter right0" id="legend_trash">


									<div class="absolute width height80 center">
										<div class="relative width80 height-30 hcenter font-15">
											<div class="absolute center text-center">
												trash
											</div>
										</div>
										<div class="relative width-40 height-40 red-back white font-10 order hcenter bottom0">
											<div class="absolute center">
												<i class="fas fa-trash-alt"></i>
											</div>

										</div>

									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
			

			<div class="absolute width height opacity0" id="hudtoggle">


				<evolving run="main.run" break="main.breakRun"></evolving>

				<div class="absolute width-100 height-50 top-20 left-20 black-back white rounded10 shadow font-20">
					<navbtn name="back" loc="trash"></navbtn>
				</div>

				
			</div>

		</div>

	</div>

	<settings open="main.open" change-kind="main.changeKind" change-input="main.changeInput"></settings>

</div>