

<div class="relative width hcenter font-20 opacity0" id="evolvedatatoggle">
	
	<div class="relative width border-top-t hcenter">
		<div class="absolute width50 border-right-t">
			<div class="relative width height-30">
				<div class="absolute center">
					generation
				</div>
			</div> 
			<div class="relative width height-70 font-30" ng-repeat="evolve in evdata track by evolve.index">
				<div class="absolute center">
					{{evolve.index}}
				</div>
			</div>
		</div>

		<div class="absolute width50 height right0">
			<div class="relative width height-30">
				<div class="absolute center">
					best fitness
				</div>
			</div> 
			<div class="relative width height-70 font-30" ng-repeat="evolve in evdata track by evolve.index">
				<div class="absolute center">
					{{evolve.best.fitness}}
				</div>
			</div>
		</div>

	</div>
</div>